{% extends 'main/base.html' %}
{% load static %}
{% block flash_messages %}

{% endblock %}
{% block content %}

<div class="chat-container mx-auto mt-4">
    <!-- Top Navigation -->
    <div class="chat-nav">
        <a>محادثة مع {{ other_participant.username }}</a>
        <div class="chat-close">
            <div class="chat-line one"></div>
            <div class="chat-line two"></div>
        </div>
    </div>

    <!-- Messages Area -->
    <div class="chat-messages">
        {% for msg in messages %}
        <div class="chat-message {% if msg.sender == request.user %}me{% else %}other{% endif %}">
            <!-- Profile Image -->
            <a href="{% url 'view_profile' msg.sender.id %}">
                <img src="{{ msg.sender.profile.image.url }}" class="chat-avatar">
            </a>

            <!-- Message Content -->
            <div class="chat-bubble">
                {% if msg.content %}
                    <p>{{ msg.content }}</p>
                {% endif %}
                {% if msg.image %}
                    <img src="{{ msg.image.url }}" class="chat-img">
                {% endif %}
                <small>{{ msg.timestamp|date:"H:i" }}</small>
            </div>
        </div>
        {% empty %}
        <p class="text-center text-light mt-3">ابدأ المحادثة الآن</p>
        {% endfor %}
    </div>

    <!-- Sender Area -->
    <div class="chat-sender">
        <form method="POST" enctype="multipart/form-data" class="chat-input-box">
            {% csrf_token %}
            <input type="text" name="content" placeholder="اكتب رسالتك..." class="chat-input" >
            <input type="file" name="image" class="chat-file">
            <button type="submit" class="chat-send">
                <svg class="chat-send-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="#fff" d="M481.5 210.3 68.4 38.9c-17.4-7.2-37.1-4-51.3 8.3C2.9 59.5-3.1 78.6 1.6 96.8L38.3 241h180c8.3 0 15 6.7 15 15s-6.7 15-15 15H38.3L1.6 415.2c-4.7 18.3 1.3 37.3 15.5 49.6 14.3 12.4 33.9 15.5 51.3 8.3l413.1-171.4c18.8-7.6 30.5-25.1 30.5-45.4 0-20.4-11.7-37.9-30.5-45.4z"/>
                </svg>
            </button>
        </form>
    </div>
</div>

{% endblock %}
